/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3 { font-weight: bold; }
h1 { font-size: 28px; }
h2 { font-size: 16px; }
h3 { font-size: 26px; }

.wrapper {
    width: 960px;
    margin: auto;
}

/*************************/
/*** Calculator Module ***/
/*************************/

/* All these styles will be prefixed with .calculator to avoid class name collision with other potential modules */

/* Form Styles */
.calculator .form-wrapper {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.calculator .form-wrapper label,
.calculator .form-wrapper .amount,
.calculator .form-wrapper .submit { font-weight: bold; }

.calculator .form-wrapper .amount,
.calculator .form-wrapper .submit { padding: 3px 10px; }

.calculator .form-wrapper .message { 
    color: #ff0000; 
    display: none;
}

/* Results Styles */
.calculator .result-wrapper { display: none; }

.calculator .result-wrapper .result-set {
    width: 100%;
    display: table;
    margin: 20px auto;
}

.calculator .result-wrapper .circle {
    width: 120px;
    height: 120px;
    display: table-cell;
    background-color: #e2e2e2;
    border-right: 1px solid #FFF;
}

.calculator .result-wrapper .circle:last-child { border: none; }

.calculator .result-wrapper .circle p, 
.calculator .result-wrapper .circle span {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.calculator .result-wrapper .circle p { 
    font-size: 32px;
    padding-top: 30px;
}

.calculator .result-wrapper .circle span { 
    font-size: 14px;
    margin-top: 5px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}